body {
  background-color: #fff7f4;
  font-family: Arial, sans-serif;
  color: #222;
}

.fondo-nav {
  background-color: #111 !important;
}

.nav-link i{
margin-right:6px;
}

.logo-principal {
  max-width: 800px;
  width: 80%;
  border-radius: 16px;
}

.carousel-item img {
  height: 350px;
  object-fit: cover;
  filter: brightness(70%);
}

.carousel {
  border-radius: 12px;
  overflow: hidden;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.35);
  border-radius: 10px;
  padding: 10px;
  bottom: 25%;
}

.titulo-principal {
  color: #ff4d6d;
  font-weight: bold;
  font-size: 3rem;
}

.subtitulo {
  color: #3b82f6;
  font-size: 1.3rem;
  font-weight: 600;
}

.seccion-titulo {
  color: #ff4d6d;
  font-weight: bold;
  margin-bottom: 20px;
}

.sombra-img {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.formulario-gamenglish {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.boton-personalizado {
  background-color: #22c55e;
  color: white;
  border: none;
  font-weight: bold;
}

.boton-personalizado:hover {
  background-color: #16a34a;
  color: white;
}

.pie-pagina {
  background-color: #111;
  color: white;
}

.pie-pagina a {
  color: #ffd93d;
  text-decoration: none;
}

.pie-pagina a:hover {
  text-decoration: underline;
}

.logo-footer{
height:60px;
margin-bottom:10px;
}