body {
  background-color: #fffaf5;
  font-family: Arial, sans-serif;
  color: #222;
}

.fondo-nav {
  background-color: #111 !important;
}

.nav-link i{
margin-right:6px;
}

.titulo-principal {
  color: #3b82f6;
  font-weight: bold;
  font-size: 2.7rem;
}

.subtitulo {
  color: #ff4d6d;
  font-size: 1.2rem;
  font-weight: 600;
}

.seccion-titulo {
  color: #22c55e;
  font-weight: bold;
  margin-bottom: 20px;
}

.sombra-img {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.formulario-gamenglish {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.boton-personalizado {
  background-color: #ff4d6d;
  color: white;
  border: none;
  font-weight: bold;
}

.boton-personalizado:hover {
  background-color: #e11d48;
  color: white;
}

.pie-pagina {
  background-color: #111;
  color: white;
}

.pie-pagina a {
  color: #ffd93d;
  text-decoration: none;
}

.pie-pagina a:hover {
  text-decoration: underline;
}

.pie-pagina i {
  margin-right: 8px;
  color: #ffd93d;
}